name: CI

on:
  push:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: ubuntu-latest
            target: armv7-unknown-linux-musleabihf
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          path: cocogitto-action
      - name: Initialise repository
        run: |
          git init
          echo "# Mona Lisa" > README.md
          git config --global user.name "Mona Lisa"
          git config --global user.email "mona.lisa@example.com"
          git add README.md
          git commit -m "docs: add Mona Lisa docs"
      - name: Run cocogitto-action
        uses: ./cocogitto-action
        id: cog-check
        with:
          command: check

      - run: echo "${{ steps.cog-check.outputs.stdout }}"

      - uses: ./cocogitto-action
        id: cog-changelog
        with:
          command: changelog

      - run: echo "${{ steps.cog-changelog.outputs.stdout }}"

      - uses: ./cocogitto-action
        id: invalid-step
        with:
          command: invalid
        continue-on-error: true

      - name: Assert action errored
        if: steps.invalid-step.outcome == 'failure'
        run: echo "Action errored as expected"

  test-install-only:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: cocogitto-action
      - name: Initialise repository
        run: |
          git init
          echo "# Mona Lisa" > README.md
          git config --global user.name "Mona Lisa"
          git config --global user.email "mona.lisa@example.com"
          git add README.md
          git commit -m "docs: add Mona Lisa docs"
      - name: Install cocogitto
        uses: ./cocogitto-action
        id: install
        with:
          install-only: true
      - name: Verify installation
        run: |
          output="$(cog check 2>&1)"
          echo "Output: $output"
          if [[ "$output" != "No errored commits" ]]; then
            echo "cog did not run as expected"
            exit 1
          fi

  test-container:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/actions/actions-runner:latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: cocogitto-action
      - name: Initialise repository
        run: |
          git init
          echo "# Mona Lisa" > README.md
          git config --global user.name "Mona Lisa"
          git config --global user.email "mona.lisa@example.com"
          git add README.md
          git commit -m "docs: add Mona Lisa docs"
      - name: Run cocogitto-action
        uses: ./cocogitto-action
        id: cog-check
        with:
          command: check

      - run: echo "${{ steps.cog-check.outputs.stdout }}"

      - uses: ./cocogitto-action
        id: cog-changelog
        with:
          command: changelog

      - run: echo "${{ steps.cog-changelog.outputs.stdout }}"

      - uses: ./cocogitto-action
        id: invalid-step
        with:
          command: invalid
        continue-on-error: true

      - name: Assert action errored
        if: steps.invalid-step.outcome == 'failure'
        run: echo "Action errored as expected"
